# Ignore Unreal Engine build folders
DerivedDataCache/
Intermediate/
Saved/

# Ignore common editor files
*.log
*.tmp
*.user
*.suo
*.sdf
*.opensdf
.vscode/
AD-MeleeAttackFirstPersonCharacter.zip
Content/Content/
Content/__ExternalActors__/
Content/Sword_Animation/
desktop.ini
temp_git_backup/