# Ignore Unreal Engine build folders
DerivedDataCache/
Intermediate/
Saved/

# Ignore the Content folder (we use Google Drive for this)
Content/

# Ignore common editor files
*.log
*.tmp
*.user
*.suo
*.sdf
*.opensdf
.vscode/