# Ignore Unreal Engine build folders
DerivedDataCache/
Intermediate/
Saved/

# Ignore common editor files
*.log
*.tmp
*.user
*.suo
*.sdf
*.opensdf
.vscode/
AD-MeleeAttackFirstPersonCharacter.zip
Content/Content/
Content/__ExternalActors__/
Content/Sword_Animation/
desktop.ini
HEAD
temp_git_backup/
temp_git_backup/
a0a29715131cf2830e0f7c62951b1f769f86e09b
